
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="myform">
			<div class="mb-3">
				<label for="dateOfBirth">Id</label>
				<div class="input-group">
					<input
						id="Id"
						class="form-control"
						formControlName="Id"
						type="text"
						
					/>
					
				</div>
			</div>

			<div class="mb-3">
				<label for="dateOfBirth">Name</label>
				<div class="input-group">
					<input
						id="Name"
						class="form-control"
						formControlName="name"
						type="text"
						
					/>
					
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="saveInformation()">Save</button>
	</div>
</ng-template>

{{editIndex}}